<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        전체 약국 데이터베이스
    </div>

    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>약국명</th>
                    <th>전화번호</th>
                    <th>도로명주소</th>
                    <th>지번주소</th>
                </tr>
            </thead>
            <tbody>
                <% rows.forEach((row, index)=> { %>
                <tr>
                    <td>
                        <%= row.name %>
                    </td>
                    <td>
                        <%= row.tel %>
                    </td>
                    <td>
                        <%= row.addr_street %>
                    </td>
                    <td>
                        <%= row.addr_lot %>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>